* {padding: 0; margin: 0; box-sizing: border-box}
body {padding: 16px;}

.token.selector {color: black;}
.token.punctuation {color: black;}
.token.property {color: black;}

#code {height: 100vh;overflow: hidden;}

#paper {display: flex;justify-content: center;align-items: center;position: fixed;top:16px; right: 30px;width: 50%;height: 95%;padding: 16px;background: rgb(0,43,54);}
#paper> .content{display: none;padding: 16px;overflow: auto;width: 100%;height: 100%;background: white;font-size: 12px;}

#paper> .content h1 {font-family: Arial;display: block;padding-bottom: 10px;border-bottom: 1px solid rgb(234, 236, 239);}
#paper> .content ul,
#paper> .content ol {margin-left: 2em;font-size: 16px;line-height: 1.1;font-family: Arial;margin-top: -6px;}
#paper> .content p {font-size: 16px;line-height: 2.2;margin-bottom: 10px;margin-left: 14px;font-family: Arial;}

@keyframes breath { from{box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);} to{box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);} }


